@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0e041b;
    --background: #ebe2f8;
    --primary: #ebe2f8;
    --secondary: #e1d2f4;
    --accent: #4f228d;
    --primary-text: #6e1dd9;
    --secondary-text: rgb(90, 114, 191);
  }
  .dark {
    --text: #eee4fb;
    --background: #10071d;
    --primary: #11071f;
    --primary-text: #b887e8;
    --secondary: #1a0b2e;
    --secondary-text: #ccd6f6;
    --accent: #4f228d;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid #fff; */
}

html,
body {
  scroll-behavior: smooth;
}

.dark .radial-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #cdaaee 0%,
    rgba(111, 88, 164, 0) 100%
  );
}

/****************************************************************
************************ dark mode ******************************
****************************************************************/

.dark .radial-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #763cac 0%,
    rgba(50, 15, 133, 0) 100%
  );
}

.spread-gradient {
  position: absolute;
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  z-index: -1;
}

.card-gradient-1 {
  background: linear-gradient(
    141deg,
    #130428 7.29%,
    #251043 70.55%,
    #38126d 100%
  );
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
}

.card-gradient-2,
.card-gradient-3 {
  background: linear-gradient(
    137deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634 100%
  );
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
}

.card-gradient-4 {
  background: linear-gradient(
    135deg,
    #38126d 1.37%,
    #251043 30.21%,
    #251043 100%
  );
  box-shadow: 4px 7px 26px 0px rgba(0, 0, 0, 0.12);
}
